<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.PartyDeck">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab3Assignment6">
        <activity android:name=".DiceRollingSetup"></activity>
        <activity android:name=".LifeCounter_4Players" />
        <activity android:name=".LifeCounter_3Players" />
        <activity android:name=".LifeCounter_2Players" />
        <activity
            android:name=".LifeCounterSetup"
            android:label="@string/title_activity_life_counter_setup"
            android:theme="@style/Theme.Lab3Assignment6.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>